* { box-sizing: border-box; }

#reactUI {  
  position: absolute;
  height: 14%;
  bottom: 1%;
  width: 166vh;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
