#reactUI {
    position: absolute;
    height: 14%;
    bottom: 1%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

#towerSelection {
    display: none;
    font-family: 'Kanit', sans-serif;
    justify-content: center;
    width: 166vh;
    padding-left: 10%;
    padding-right: 10%;

    .tower {
        background-color: rgba(0, 0, 0, 0.3);
        padding: 5px;
        font-size: 48px;
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        border-style: solid;
        border-width: thin;
        width: 25%;
        position: relative;
        margin-right: 1%;
        gap: 10%;

        &.selected {
            font-weight: bold;
            border-radius: 6px;
            border-style: solid;
            background-color: rgba(0, 0, 0, 0.5);
        }
        
        .towerHoverText {
            visibility: hidden;
            width: max-content;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            padding: 5px 5px;
            transition: opacity 1s ease-in-out;
            font-size: 16px;
            position: absolute;
            z-index: 1;
            left: 25%;
            top: 0%;
            transform: translate(-25%, -100%);
            opacity: 0;
        }
        
        &:hover {
            .towerHoverText{
                visibility: visible;
                opacity: 1;
            }
        }

        .imageOuter {
            text-align: center;
            justify-content: center;
            display: flex;
            flex-shrink: 1;
            flex-direction: column;

            .towerIcon {
                display: block;
                height: auto;
                margin: auto;
                max-height: 100%;
                max-width: 100%;
            }

            .towerName {
                font-size: 30%;
                color: white;
            }
        }

        .towerInfo {
            display: grid;
            flex: 1;
            max-width: 100%;
            height: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .cost.armor {
                grid-row: 1;
                grid-column: 2;
            }

            .cost.makes-money {
                grid-row: 2;
                grid-column-start: 1;
                grid-column-end: 2;
            }


            .cost {
                font-weight: bold;
                font-size: 45%;
                display: flex;
                width: 50%;
                align-items: center;
               
                .towerInfoIcon {
                    max-height: 100%;
                    max-width: 100%;
                }
                
                .costText {
                    text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;
                }
            }
        }
    }
}