#towerSelection {
    display: none;
    flex-direction: column;
    position: absolute;
    font-family: 'Kanit', sans-serif;
}

.tower {
    padding: 5px;
    font-size: 48px;
    display: flex;
    flex-direction: row;
}

.selected {
    font-weight: bold;
    border-radius: 6px;
    border-style: solid;
}

.imageOuter {
    text-align: center;
    justify-content: center;
    display: flex;
}

.towerIcon {
    display: block;
    height: auto;
    margin: auto;
    width: 100%;
}

.towerInfo {
    display: flex;
    flex-direction: column;
}

.cost {
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.costText {
    margin-block: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-55%, -50%);
    text-shadow: -1px 1px 0 #FFF, 1px 1px 0 #FFF, 1px -1px 0 #FFF, -1px -1px 0 #FFF;
}

.tower .towerHoverText {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 5px 5px;
    transition: opacity 1s ease-in-out;
    font-size: 16px;
    position: relative;
    z-index: 1;
    left: 10%;
    top: -100%;
    opacity: 0;
}

.tower:hover .towerHoverText{
    visibility: visible;
    opacity: 1;
}