.selected {
    font-weight: bold;
}
.tower {
    padding: 5px;
    font-size: 48px;
}

.cost {
    font-weight:normal;
    font-size: 16px;
    text-align: center;
}

#towerSelection {
    display: none;
    flex-direction: row;
    position: absolute;
}